<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


  <app-episodio-list [episodios]="episodios" [titulo]="titulo1" [subtitulo]="subtitulo1">
  </app-episodio-list>


  @if (!completado){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Espere por Favor..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }
</ion-content>